/*---------*/
/* IMPORTS */
/*---------*/

@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;600;700&display=swap');

@font-face {
    font-family: "DCC - Ash";
    src: url("../fonts/DCC_-_Ash.otf") format("otf");
}

/*----------------*/
/* PARTIE GLOBALE */
/*----------------*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Krub', sans-serif;
    font-weight: 400;
    color: black;
}

h2 {
    font-family: 'DCC - Ash', sans-serif;
    font-size: 72px;
}

b {
    font-weight: 700;
}

p {
    font-size: 18px;
    line-height: 1.2;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Boutons cachés */
#hidden1, #hidden2, #hidden3, #hidden4, #hidden5, #hidden6 {
    position: absolute;
    left : -1000em;
}

.cls-1  {
    fill: #303030;
}

a:hover .cls-1, a:focus .cls-1  {
    fill: #164900;
    transition-duration: 0.5s;
}

.cls-2 {
    fill: #fff;
}

@keyframes wigglecircle {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(10deg); }
    15% { transform: rotate(-10deg); }
    20% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

a:hover svg, a:focus svg {
    animation: wigglecircle ease-in-out 2.5s infinite;
    display: inline-block;
}

section {
    /* Navigation par ancres et barre de navigation */
    margin-top:-110px;
    padding-top:110px;
}

section > div {
    padding-top: 40px;
    padding-left: 12%;
    padding-bottom: 40px;
    padding-right: 12%;
}

section > div > a:focus {
    margin-top: 10px;
    display: inline-block;
    border-radius: 10px;
    background-color: #164900;
    color: white;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    animation: wigglerectangle ease-in-out 2.5s infinite;
}

section > div > div {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

/*-------------------*/
/* PARTIE EXCEPTIONS */
/*-------------------*/

/* Barre de navigation */
nav {
    position: fixed;
    color: white;
    background-color: black;
    top: 0;
    left:0;
    right:0;
}

/* Zone principale de l'entête */

header > nav {
  position: relative;
  position: fixed;
  height: 110px;
  z-index: 5;
}

header > nav > div:nth-of-type(2) {
  display: flex;
  font-weight: 700;
}

header > nav > div:nth-of-type(2) > h1 {
  font-size: 36px;
  margin-top: 42px;
  margin-bottom: 17px;
  margin-left: 80px;
}

header > nav > div:nth-of-type(2) > ul {
  display: flex;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin-top: 50px;
}

header > nav > div:nth-of-type(2) > ul > li {
  margin-right: 45px;
}

header > nav > div:nth-of-type(2) > ul > li > a:hover, header > nav > div:nth-of-type(2) > ul > li > a:focus {
  text-decoration: underline white 3px;
}

header > div {
    background-image: url("../images/main-illustration.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 110px;
    height: 80vh;
    position: relative;
}

header > div > div:nth-of-type(1) {
    float: right;
    margin-right: 96px;
    color: white;
    margin-top: 25px;
}

header > div > div:nth-of-type(1) > input {
    border: none;
    border-radius: 50px;
    background-color: #C4C4C4;
    width: 280px;
    height: 30px;
    padding-left: 20px;
}

header > div > div:nth-of-type(1) > button {
    background: url("../images/search.svg");
    border: none;
    height: 22px;
    width: 30px;
    background-repeat: no-repeat;
}

header > div > blockquote {
    position: absolute;
    text-align: center;
    top: 50%;
    margin: auto;
    color: white;
    width: 30%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

header > div > blockquote > p {
    font-weight: 600;
    font-size: 30px;
}

header > div > blockquote > footer {
    font-size: 14px;
    margin-top: 30px;
}

header > div > div:nth-of-type(2) {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}

header > div > div:nth-of-type(2) > a {
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

@keyframes wigglenavigation {
    0% { transform: translate(0px, -5px); }
    50% { transform: translate(0px, 5px); }
    100% { transform: translate(0px, -5px); }
}

header > div > div:nth-of-type(2) > a > svg {
    width: 50px;
    height: auto;
    animation: wigglenavigation ease-in-out 2s infinite;
    display: inline-block;
}

header > div > div:nth-of-type(2) > a > svg .st0 {
    fill: white;
}

section#bio > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section#bio > div > div > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

section#bio > div > div > div:nth-of-type(1) > p {
    margin-bottom: 40px;
}

section#bio > div > div > div:nth-of-type(1) > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section#bio > div > div > div:nth-of-type(1) > ul > li > a {
    display: block;
    height: 80px;
    width: 80px;
}

section#bio > div > div > div:nth-of-type(1) > ul > li > a > svg {
    height: 80px;
    width: auto;
}

section#bio > div > div > div:nth-of-type(2) {
    width: 40%;
    height: 100%;
}

section#bio > div > div > div:nth-of-type(2) > img {
    width: 100%;
    height: auto;
}


section#latestbook > div {
    background-image: url("../images/latestbook-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section#latestbook > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section#latestbook > div > div > div:nth-of-type(1) {
    width: 35%;
}

section#latestbook > div > div > div:nth-of-type(1) > img {
    width: 100%;
    height: auto;
}

section#latestbook > div > div > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    width: 55%;
}

section#latestbook > div > div > div:nth-of-type(2) > h3 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 10px;
}

section#latestbook > div > div > div:nth-of-type(2) > p:nth-of-type(1) {
    font-size: 24px;
    margin-bottom: 40px;
}

section#latestbook > div > div > div:nth-of-type(2) > p:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

section#latestbook > div > div > div:nth-of-type(2) > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section#latestbook > div > div > div:nth-of-type(2) > ul > li > a {
    display: block;
    height: 80px;
    width: 80px;
}

section#latestbook > div > div > div:nth-of-type(2) > ul > li > a > svg {
    height: 80px;
    width: auto;
}

section#books > div > div > div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
}

section#books > div > div > div:nth-of-type(1) > div {
    width: 30%;
    display: flex;
    flex-direction: column;
}

section#books > div > div > div:nth-of-type(1) > div > div {
    width: 80%;
}

section#books > div > div > div:nth-of-type(1) > div > div > img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

section#books > div > div > div:nth-of-type(1) > div > h3 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;
}

section#books > div > div > div:nth-of-type(1) > div > p:first-of-type {
    font-size: 18px;
    margin-bottom: 40px;
}

section#books > div > div > div:nth-of-type(1) > div > p > a {
    font-size: 24px;
    font-weight: 600;
}

section#books > div > div > div:nth-of-type(1) > div > p > a:hover, section#books > div > div > div:nth-of-type(1) > div > p > a:focus {
    text-decoration: underline #164900 3px;
}

section#books > div > div > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

section#books > div > div > div:nth-of-type(2) > a {
    display: inline;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 20px 80px 20px 80px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

@keyframes wigglerectangle {
    0% { transform: translate(0px, 0px); }
    5% { transform: translate(-5px, -2px); }
    15% { transform: translate(5px, 2px); }
    20% { transform: translate(0px, 0px); }
    100% { transform: translate(0px, 0px); }
}

section#books > div > div > div:nth-of-type(2) > a:hover, section#books > div > div > div:nth-of-type(2) > a:focus {
    background-color: #164900;
    animation: wigglerectangle ease-in-out 2.5s infinite;
    transition-duration: 0.5s;
}

section#follow > div > div > form > fieldset {
  width:70%;
}

section#follow > div > div > form > fieldset > legend {
  margin-bottom: 20px;
}

section#follow > div > div > form > fieldset > div > input {
 margin-top: 15px;
 background-color:lightgrey;
 border:none;
 font-family: 'Krub', sans-serif;
}

section#follow > div > div > form > fieldset > div > input[type=text] {
  height: 40px;
  width : 350px;
  padding-left: 20px;
}

section#follow > div > div > form > fieldset > div:nth-of-type(2) > input[type=text] {
  margin-bottom: 20px;
}

section#follow > div > div > form > fieldset > div > input[type=checkbox] {
  margin-bottom: 10px;
}

section#follow > div > div > form > fieldset > div > input[type=submit] {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  background-color:black;
  color:white;
}
section#follow > div > div > form > fieldset > div > input[type=submit]:hover{
  background-color: #164900;
  transition-duration: 0.5s;
}

section#follow {
  margin-bottom: 50px;
}

body > footer {
    background-color: #303030;
}
